bin/
obj/
*.suo
Backup*/
*.orig
*.user
*.cache
*.pidb
*UpgradeLog*.XML
*.userprefs
Temp/
_UpgradeReport_Files/
.DS_Store

# Unity crap
metadata/
previews/
cache/
ScriptAssemblies/
assetDatabase*
AssetVersioning.db
guidmapper
expandedItems
libs/
client.csproj
client.sln
client-csharp.sln
Build/
TempScenes/
Assembly*.csproj
Assembly*.unityproj

#*.BACKUP.*
#*.BASE.*
#*.LOCAL.*
#*.REMOTE.*
*.ReSharper.user
_ReSharper.*
*.ReSharper

*.log
